{% extends 'blog/base.html' %}

{% block title_block %}{{ post.title }}{% endblock %}
        {% block content %}
            <h1>{{ post.title }}</h1>
             <p style="color: coral;font-size: 16px;font-style: italic;">
                 published on {{ post.publish }} by {{ post.author|title }}
             </p>
            {{ post.body|linebreaks }}<br><br><br>
            <div class="container" align="center">
                <a href="/{{ post.id }}/share" class="btn btn-lg btn-success" >Share Post By Email</a>
            </div>

            <!--comments parts-->
            {% with comments.count as comments_count %}
                <h2>{{ comments_count }} comment{{ comments_count|pluralize }}</h2>
             {% endwith %}
                {% if comments %}
                    {% for comment in comments  %}

                        <p style="color: darkgreen; font-size: 24px;font-style: oblique; border-bottom: 2px solid coral;">
                            Comment {{ forloop.counter }} by {{ comment.name }} on {{ comment.created }}</p>
                        <div class="cb">{{ comment.body|linebreaks}}</div>
                     {% endfor %}

                      {% else %}
                        <p>There are no comments Yet !!! </p>
                {% endif%}
            <!--Write comment section in form-->
            {% if csubmit %}
                <h2>Your Comment Added Successfully</h2>
                {% else %}
                <form method="post">
                        {{ form.as_p }}

                    {% csrf_token %}
                    <input type="submit" class="btn btn-lg btn-success" value="Submit Comment">
                </form>
            {% endif %}
        {% endblock %}
